#root {
  padding: 100px 0;
}
.App {
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 70px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-wrapAvatar {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
.App-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.App-title {
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.App-description {
  margin-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #323232;
  padding: 10px 30px;
  cursor: pointer;
}
